@keyframes quiet {
  25% {
    transform: scaleY(0.6);
  }

  50% {
    transform: scaleY(0.4);
  }

  75% {
    transform: scaleY(0.8);
  }
}

@keyframes normal {
  25% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(0.4);
  }

  75% {
    transform: scaleY(0.6);
  }
}

@keyframes loud {
  25% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(0.4);
  }

  75% {
    transform: scaleY(1.2);
  }
}

.waveContainer {
  position: absolute;
  left: 0;
  right: 0;
  /* display: none; */
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 94px;
  --boxSize: 8px;
  --gutter: 4px;
  width: calc((var(--boxSize) + var(--gutter)) * 7);

  .wave {
    transform: scaleY(0.4);
    height: 100%;
    width: var(--boxSize);
    background: #fff;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    border-radius: 8px;
  }

  .wave1 {
    animation-name: quiet;
  }

  .wave2 {
    animation-name: normal;
  }

  .wave3 {
    animation-name: quiet;
  }

  .wave4 {
    animation-name: loud;
  }

  .wave5 {
    animation-name: quiet;
  }
}